@{
    ViewBag.Title = "Contact";
}

<head>
    <style>
        .body {
            width: 100%;
            background: #FCFCFC;
            padding-bottom: 176px;
        }
        h2 {
            font-family: Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <br />
    <br />
    <br />
    <h2>Contact Us</h2>
    <hr />
    <div class="card" style="width:60rem;position:absolute;top:30%;left:35%;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                For refund of unsuccessful purchases and card<br />charging issues
            </li>
            <li class="list-group-item">
                <div><h4><b>VISA/MASTER CARDS</b>  <b style="color:#DA924E;; margin-left: 310px;">N/A</b></h4></div>
            </li>
            <li class="list-group-item">
                <div><h4><b> BKASH</b> <b style="color: #DA924E; margin-left: 375px;">01734008359</b></h4></div>
            </li>
            <li class="list-group-item">
                <div><h4><b>NAGAD</b><b style="color: #DA924E;; margin-left: 375px;">01980655515</b></h4></div>
            </li>
            <li class="list-group-item">
                <div><h4><b>ROCKET</b> <b style="color: #DA924E; margin-left: 360px;">01729658875</b></h4></div>
            </li>
        </ul>
    </div>
    <div class="card" style="width:60rem;position:absolute;top:85%;left:35%;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Refund and Cancellation
            </li>
            <li class="list-group-item">
                <h4> <b> your originating station (departure station) and contact refund counter</b></h4>
            </li>
         
        </ul>
    </div>
</body>
